/* Bogdan Gura */
body
{
    background-color: rgb(146, 146, 146);
}

.container
{
    width: 97%;
    height: 850px;
    border: 5px black solid;
    position: relative;
}

.money-img-container
{
    width: 352px;
    height: 98.5%;
    border: 5px rgb(0, 255, 55) solid;
    display: inline-block;
    vertical-align: top;
}

.xp-img-container
{
    width: 350px;
    height: 98.5%;
    border: 5px rgb(0, 166, 255) solid;
    display: inline-block;
    vertical-align: top;
}

/* Stylign images inside of the containers */
.money-img-container img,
.xp-img-container img
{
    width: 85%;
    margin-top: 50%;
}

.money-img-container img:hover,
.xp-img-container img:hover
{
    width: 100%;
    cursor: pointer;
}

.store-container
{
    width: 560px;
    height: 20%;
    border: 5px rgb(179, 0, 255) solid;
    display: inline-block;
    position: absolute;
    top: 0;
    justify-content: space-between;
}

/* Store Items Styling */
.store-container div
{
    width: 65px;
    height: 65px;
    border: 4px green ridge;
    display: inline-block;
    margin-left: 40px;
    margin-top: 10px;
}

.store-container div:hover
{
    border: 4px rgb(4, 205, 4) ridge;
}

.timer-container
{
    width: 545px;
    height: 20%;
    border: 5px rgb(234, 255, 0) solid;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}

.actions-menu-container
{
    width: 559px;
    height: 78%;
    border: 5px rgb(255, 0, 51) solid;
    display: inline-block;
    position: absolute;
    top: 21%;
}

.view-assets-container
{
    width: 547px;
    height: 78%;
    border: 5px rgb(255, 153, 0) solid;
    display: inline-block;
    position: absolute;
    top: 21%;
    left: 70%
}

/* Scores styling */

.money
{
    color: #00ff00;
}

.xp
{
    color:aqua
}

/* Timer styling */
#countdown
{
    font-family: 'Digital-7', Arial, sans-serif;;
    color: red;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

/* Styling for tooltips */
.tooltip-toggler .tooltip
{
    border: 2px black solid;
    width: 500px;
    background-color: rgb(255, 106, 0);
    display: none;
}

.can-afford
{
    color: red;
}