body{
    background-color: bisque;

}

img{
    width:300px;
    height:400px;
}

p, li{
    font-size:larger;
    font-weight: bold;
}

header, main, footer{
    width:600px;
    margin: 0 auto;
}

#home-btn{
    margin-left: 35%;
}

button:hover{
    background-color:darkslateblue;
    color:whitesmoke;
}

button:active{
    background-color:darkred;
    color:darkgoldenrod;
}

/* Styling main element for different pages*/
#index-main{
    background-color: #F08080;
    border: 30px blue ridge;
}

#index-main img{
    width: 80%;
    border-radius: 10px;
    margin-left: 60px;
    margin-top: 10px;
}

#index-main p{
    text-align: center;
}

/* Styling index page's footer */
.index-footer{
    margin-top: 10%;
    background-color: #F6F4EB;
    border: 30px #4682A9 outset;
}

.index-footer p{
    text-align: center;
}
/* Styling Projects Page */

#projects-main{
    border: 30px #ff9a3c groove;
    background-color: white;
}

/* Styling Credentials page, images too */
#cred-main img{
    border: 30px #966F33 outset;
}

#pic-section{
    display: flex;
    justify-content: space-between;
}

#pic-section img{
    margin: 20px;
}

/* Styling about me */
#about-main{
    border: 30px  #6B5B95 ridge;
}

#about-main img{
    width: 60%;
    margin-left: 120px;
    margin-top: 10px;
    border-radius: 10px;
}

#about-main p{
    margin-left: 5px;
    text-wrap:stable;
}
