body{
    background-color: rgb(116, 115, 115);
    color: white;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: black;
    text-decoration: none;
}

button{
    background-color: gray;
}
/* Styling the boards */
.board-container{
    margin: 0;
    margin-top: 20px;
    width: 710px;
    height: 710px;
    border: 5px rgb(255, 115, 0) ridge;
    margin-right: auto;
    display: inline-block;
    margin-left: 10%;
    margin-right: 5%;
    margin-top: 50px;
}

.board-container-ai{
    margin: 0;
    width: 710px;
    height: 710px;
    border: 5px rgb(255, 115, 0) ridge;
    margin-left: auto;
    display: inline-block;
}

/* Stats board for both containers */
.stats-board,
.stats-board-ai{
    width: 350px;
    height: 100%;
    background-color: rgb(151, 121, 95);
    padding-top: 20px;
    padding-left: 20px;
    border-left: 4px gray solid; 
    float:right;
}

/* Clearing float */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }  

.game-board,
.game-board-ai{
    width: 350px;
    height: 100%;
    float: left;
    display: flex;
    flex-wrap: wrap;
}

/* #stats-board{
    width: 200px;
} */

#tetromino-screen-label{
    margin-left: 50px;
}

#next-tetromino-screen,
#next-tetromino-screen-ai{
    width: 230px;
    height: 140px;
    margin-right: 50px;
    margin-bottom: 50px;
    float: right;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
}

#next-tetromino-screen div,
#next-tetromino-screen-ai div
{
    background-color: black;
    width: 48px;
    height: 48px;
}

/* Styling for small divs inside the 
   game board
*/
.game-board div,
.game-board-ai div{
    background-color: black;
    /* border: 1px rgb(117, 8, 108) solid; */
    width: 35px;
    height: 35px;
}

#AI-label
{
    margin-top: 55%;
}


@keyframes flashColors {
    0% {
        background-color: red;
    }
    25% {
        background-color: yellow;
    }
    50% {
        background-color: blue;
    }
    75% {
        background-color: yellow;
    }
    100% {
        background-color: red;
    }
}

.flash {
    animation: flashColors 0.5s ease-in-out 2; 
}

/* 
Styling for tetrominoes
*/

.I {
    background-color:#011efe !important; 
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -3px -3px 5px rgba(0, 0, 0, 0.3);
  }
/* I shadow */
.I-shadow{
    border:1px #011efe solid !important;
}

.O{
    background-color: #fdfe02 !important; 
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -3px -3px 5px rgba(0, 0, 0, 0.3);
}
/* O shadow */
.O-shadow{
    border:1px #fdfe02 solid !important;
}

.S{
    background-color: #fe0000 !important; 
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -3px -3px 5px rgba(0, 0, 0, 0.3);
}
/* S shadow */
.S-shadow{
    border:1px #fe0000 solid !important; 
}

.Z{
    background-color: #0bff01 !important; 
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -3px -3px 5px rgba(0, 0, 0, 0.3);
}
/* Z shadow */
.Z-shadow{
    border:1px #0bff01 solid !important; 
}

.L{
    background-color: #ffac00 !important; 
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -3px -3px 5px rgba(0, 0, 0, 0.3) !important;
}
/* L shadow */
.L-shadow{
    border:1px #ffac00 solid !important; 
}

.J{
    background-color: #f52789 !important; 
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -3px -3px 5px rgba(0, 0, 0, 0.3);
}
/* L shadow */
.J-shadow{
    border:1px #f52789 solid !important;
}

.T{
    background-color: #e900ff !important; 
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -3px -3px 5px rgba(0, 0, 0, 0.3);
}
/* L shadow */
.T-shadow{
    border:1px #e900ff solid !important; 
}

/* class for tetrominoes (detection) */
.tetromino{
    /* Filler rule, doesn't mean anything */
    text-align: none; 
}