body{
    background-color: rgba(178, 73, 38, 0.878);
}

h1{
    font-family: 'Actor';
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-left: 38%;
    margin-top: 9%;
}

h3{
    margin-left: 150px;
    color:rgb(255, 255, 255);
}

#contributor
{
    color: gold;
    font-weight: bolder;
}

button{
    padding: 10px;
    width: 100px;
    color: rgb(0, 0, 0);
    background-color: aqua;
    border: 8px black ridge;
    font-size: 15px;
    font-weight: bolder;
    margin-left: 47%;
}

button:hover{
    background-color: rgb(9, 81, 153);
    color: rgb(255, 0, 0);
}

img{
    width: 120px;
    height: 120px;
    margin: 10px;
    border: 15px #42A362 ridge;
    filter: grayscale(1);
}

.achievement-container{
    position:absolute;
    top: 30%;
    left: 15%;
    width: 1300px;
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 40px #654321 ridge;
    background-color: rgb(150, 25, 150);
    text-align: center;
}