body{
    background-color: rgba(178, 73, 38, 0.878);
    text-align: center;
    display: flex;
}

h1{
    font-family: 'Actor';
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 3rem;
}

h3{
    color:rgb(255, 255, 255);
    font-size: 2rem;
    margin-bottom: 2rem;
}

#contributor
{
    color: gold;
    font-weight: bolder;
}

button{
    padding: 10px;
    width: 100px;
    color: rgb(0, 0, 0);
    background-color: aqua;
    border: 8px black ridge;
    font-size: 15px;
    font-weight: bolder;
    margin: auto;
}

button:hover{
    background-color: rgb(9, 81, 153);
    color: rgb(255, 0, 0);
}

img{
    width: 120px;
    height: 120px;
    margin: 10px;
    border: 15px #42A362 ridge;
    filter: grayscale(1);
}

.achievement-container{
    position:absolute;
    top: 35%;
    left: 21%;
    width: 33vh;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 20px #654321 ridge;
    background-color: rgb(150, 25, 150);
    text-align: center;
}

/* Media Queries */

@media (min-width: 667px) {
    .achievement-container {
        top: 60%;
        left: 22%;
        width: 100vh;
    }
}

@media (min-width: 768px) {

    h1 {
        margin-top: 7%;
    }

    .achievement-container {
        top: 25%;
        left: 14%;
        width: 55vh;
    }
}

@media (min-width: 1024px) {
    h1 {
        margin-top: 6%;
    }

    .achievement-container {
        top: 31%;
        left: 24%;
        width: 70vh;
    }
}

@media (min-width: 1920px) {
    h1 {
        margin-top: 6%;
        font-size: 5rem;
    }

    h3 {
        font-size: 3rem;
    }

    button {
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .achievement-container {
        top: 35%;
        left: 28%;
        width: 90vh;
    }
}

@media (min-width: 2560px) {
    h1 {
        margin-top: 8%;
        font-size: 5rem;
    }

    .achievement-container {
        top: 26%;
        left: 25%;
        width: 90vh;
    }
}