body{
    font-family: ‘Actor’;
    background-color: black;
    background-repeat: no-repeat;
}

a,
a:hover{
    text-decoration: none;
    color: black;
}

/* Styling main container (positioning) */
.menu-container{
    margin: 0 auto;
    position: relative;
    top: 100%;
    left: -1%;
    width: 800px;
    height: 890px;
}

/* Styling main-content */
header{
    margin-left: 50px;
    text-wrap: nowrap;
}

header h1,
header h3{
    text-align: center;
}

header h1{
    font-size: 65px;
}

header h3{
    font-size: 45px;
}

header input{
    font-size: 20px;
    padding: 10px;
    margin-left: 30%;
    margin-top: 20px;
    display: block;
    margin-bottom: 20px;
    background-color: black;
    color: 	white;
    border-radius: 30px;
}

header input::placeholder
{
  color: 	white;
  font-weight: bold;
}

span{
  display: inline;
}

#error-div{
    margin: 0;
    margin-left: 25%;
}

/* Styling user-input field */

.stats{
  color: white;
  font-size: 25px;
  margin-right: 15px;
  font-style: italic;
  font-weight: bold;
}

#record-points{
    margin-left: 13%;
}

#recordPoints{
  color: red;

}

#recordLinesCleared
{
  color: rgb(0, 255, 183);
}

#recordTetrominoes
{
  color: rgb(255, 0, 123);
}

#creator-label
{
    margin-bottom: 50px;;
}

/* Styling button container */
.button-container{
    display: block;
    margin-left: 60px;
    margin-top: 20px;
    width: 400px;
}

/* Styling buttons inside button container */
.button-container button{
    display: block;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 25px;
    padding: 20px;
    width: 400px;
    margin-left: 10px;
    /* Positioning buttons */
    margin-left: 40%;
    border-radius: 30px;
    border: none;
}

.creator{
    font-style: italic;
    color: cyan;
    font-weight: bold;
}

.made-by{
    color:#ff66ff;
}

/* Tetris Enchanced styling */
.tetris{
    color: #9900ff;
}

/* Glow animations */

@keyframes glow-creator {
    0% {
      text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff; /* Adjust the color and size as needed */
    }
    50% {
      text-shadow: 0 0 20px #00ffff, 0 0 30px #00ffff, 0 0 20px #00ffff; /* Adjust the color and size as needed */
    }
    100% {
      text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff; /* Adjust the color and size as needed */
    }
  }

  
  @keyframes glow-made-by {
    0% {
      text-shadow: 0 0 10px #ff66ff, 0 0 20px #ff66ff, 0 0 30px #ff66ff;
    }
    50% {
      text-shadow: 0 0 20px #ff66ff, 0 0 30px #ff66ff, 0 0 40px #ff66ff;
    }
    100% {
      text-shadow: 0 0 10px #ff66ff, 0 0 20px #ff66ff, 0 0 30px #ff66ff;
    }
  }
  

  

@keyframes glow-tetris {
    0% {
      text-shadow: 0 0 10px #9900ff, 0 0 20px #9900ff, 0 0 30px #9900ff; 
    }
    50% {
      text-shadow: 0 0 20px #9900ff, 0 0 30px #9900ff, 0 0 40px #9900ff; 
    }
    100% {
      text-shadow: 0 0 10px #9900ff, 0 0 20px #9900ff, 0 0 30px #9900ff; 
    }
  }

  @keyframes glow-play-btn {
    0% {
      text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00; 
    }
    50% {
      text-shadow: 0 0 20px #00ff00, 0 0 30px #00ff00, 0 0 40px #00ff00; 
    }
    100% {
      text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00; 
    }
  }

  @keyframes glow-vs-ai-btn {
    0% {
      text-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow; 
    }
    50% {
      text-shadow: 0 0 20px yellow, 0 0 30px yellow, 0 0 40px yellow; 
    }
    100% {
      text-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow; 
    }
  }

  @keyframes glow-play-in-development {
    0% {
      text-shadow: 0 0 10px rgb(255, 162, 0), 0 0 20px rgb(255, 162, 0), 0 0 30px rgb(255, 162, 0);
    }
    50% {
      text-shadow: 0 0 20px rgb(255, 162, 0), 0 0 30px rgb(255, 162, 0), 0 0 40px rgb(255, 162, 0);
    }
    100% {
      text-shadow: 0 0 10px rgb(255, 162, 0), 0 0 20px rgb(255, 162, 0), 0 0 30px rgb(255, 162, 0);
    }
  }  

  @keyframes glow-clear-save {
    0% {
      text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 30px rgb(255, 255, 255);
    }
    50% {
      text-shadow: 0 0 20px rgb(255, 255, 255), 0 0 30px rgb(255, 255, 255), 0 0 40px rgb(255, 255, 255);
    }
    100% {
      text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 30px rgb(255, 255, 255);
    }
  } 

  @keyframes glow-play-exit-btn {
    0% {
      text-shadow: 0 0 10px rgb(255, 0, 0), 0 0 20px rgb(255, 0, 0), 0 0 30px rgb(255, 0, 0);
    }
    50% {
      text-shadow: 0 0 20px rgb(255, 0, 0), 0 0 30px rgb(255, 0, 0), 0 0 40px rgb(255, 0, 0);
    }
    100% {
      text-shadow: 0 0 10px rgb(255, 0, 0), 0 0 20px rgb(255, 0, 0), 0 0 30px rgb(255, 0, 0);
    }
  }
  

  /* Border glow animation */
  @keyframes glow-border-play-btn {
    0% {
      box-shadow: 0 0 5px 0px #00ff00; 
    }
    50% {
      box-shadow: 0 0 10px 5px #00ff00;
    }
    100% {
      box-shadow: 0 0 5px 0px #00ff00;
    }
  }

  @keyframes glow-border-vs-ai-btn {
    0% {
      box-shadow: 0 0 5px 0px yellow; 
    }
    50% {
      box-shadow: 0 0 10px 5px yellow;
    }
    100% {
      box-shadow: 0 0 5px 0px yellow;
    }
  }

  @keyframes glow-border-in-development{
    0% {
      box-shadow: 0 0 5px 0px rgb(255, 175, 37);
    }
    50% {
      box-shadow: 0 0 10px 5px rgb(255, 175, 37);
    }
    100% {
      box-shadow: 0 0 5px 0px rgb(255, 175, 37);
    }
  }

  @keyframes glow-border-clear-save{
    0% {
      box-shadow: 0 0 5px 0px rgb(255, 255, 255);
    }
    50% {
      box-shadow: 0 0 10px 5px rgb(255, 255, 255);
    }
    100% {
      box-shadow: 0 0 5px 0px rgb(255, 255, 255);
    }
  }

  @keyframes glow-border-exit-btn{
    0% {
      box-shadow: 0 0 5px 0px red;
    }
    50% {
      box-shadow: 0 0 10px 5px red;
    }
    100% {
      box-shadow: 0 0 5px 0px red;
    }
  }
  
  
.glowing-text-tetris {
    animation: glow-tetris 1.5s infinite; 
}

.glowing-text-made-by {
    animation: glow-made-by 1.5s infinite; 
}

.glowing-text-creator {
    animation: glow-creator 1.5s infinite; 
}

.glowing-text-play-btn {
    animation: glow-play-btn 1.5s infinite; 
}

.glowing-text-vs-ai-btn {
  animation: glow-vs-ai-btn 1.5s infinite; 
}

.glowing-text-in-development {
    animation: glow-play-in-development 1.5s infinite; 
}

.glowing-text-clear-save {
  animation: glow-clear-save 1.5s infinite; 
}

.glowing-text-exit-btn {
  animation: glow-exit-btn 1.5s infinite; 
}

/* Buttons styling */
.playBtn{
    color: lime;
    background-color: black;
    border: 4px solid lime !important;
}

.playBtn:hover{
    color: rgba(0, 255, 0, 0.671);
    background-color: black;
    border: 4px solid #00ff00; 
    animation: glow-border-play-btn 1.5s infinite;
}

.vsAIBtn{
  color: yellow;
  background-color: black;
  border: 4px solid yellow !important;
}

.vsAIBtn:hover{
  color: rgb(228, 225, 6);
  background-color: black;
  border: 4px solid rgb(228, 225, 6); 
  animation: glow-border-vs-ai-btn 1.5s infinite;
}

.in-development{
    color: rgb(255, 162, 0);
    background-color: black;
    border: 4px solid rgb(255, 162, 0) !important;
}

.in-development:hover{
    color: rgb(255, 175, 37);
    background-color: black;
    border: 4px solid rgb(255, 175, 37);
    animation: glow-border-in-development 1.5s infinite;
}

.clear-save{
  color: rgb(255, 255, 255);
  background-color: black;
  border: 4px solid rgb(255, 255, 255) !important;
}

.clear-save:hover{
  color: rgb(255, 255, 255);
  background-color: black;
  border: 4px solid rgb(255, 255, 255);
  animation: glow-border-clear-save 1.5s infinite;
}

.btn-quit{
  color: red;
  background-color: black;
  border: 4px solid red !important;
}

.btn-quit:hover{
  color: red;
  background-color: black;
  border: 4px solid red;
  animation: glow-border-exit-btn 1.5s infinite;
}