/* Jurassic Park Font */
@font-face {
    src: url(/fonts/jurassic-park-font/JurassicPark-BL48.ttf);
    font-family: jurassic-Park;
}

body {
    background-image: url(/Projects/SnakeGameEnchanced/Images/jungle.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    box-sizing: border-box;
}

/* Styling header */
header {
    width: 80%;
    text-align: center;
    font-family: jurassic-Park;
    background-image: url("/Projects/SnakeGameEnchanced/Images/button-bkg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    /* Border styling */
    border: 20px solid transparent; /* Set the border width */
    border-image: url('/Projects/SnakeGameEnchanced/Images/wood-1.jpeg') 30 round;
    color: rgb(255, 255, 255);
}

/* h1 in header styling */
h1 {
    font-size: 11rem;
    margin-bottom: 0rem;
    line-height: .9;
}

/* h2 styling */
h3 {
    font-size: 6rem;
    margin-top: 0;
}

/* Removing default anchor styling */
a {
    color: inherit;
    text-decoration: none;
}

/* Button styling */
button {
    font-family: jurassic-Park;
    margin-bottom: 3rem;
    width: 100%;
    font-size: 6rem;
    padding: .7rem 2rem;
    background-image: url("/Projects/SnakeGameEnchanced/Images/button-bkg.jpeg");
    border-image: url('/Projects/SnakeGameEnchanced/Images/wood-1.jpeg') 30 round;
    border-width: 3px;
}

/* Button on hover */
button:hover {
    color: rgb(255, 0, 0);
}

/* General Span styling */
input {
    font-size: 3rem;
    background-image: url("/Projects/SnakeGameEnchanced/Images/button-bkg.jpeg");
    border-image: url('/Projects/SnakeGameEnchanced/Images/wood-1.jpeg') 30 round;
    color: white;
}

input::placeholder {
    color: white;
}

/* Styling menu-container */
.menu-container {
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

/* Styling button container */
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 5.5%;
    color: white;
}

/* Span styling */
#recordScore {
    font-size: 5.5rem;
    font-family:'Times New Roman', Times, serif;
    color: rgb(30, 255, 0);
}

/* Error Div Styling */
#error-div {
    font-family: 'Courier New', Courier, monospace;
}

/* MEDIA QUERIES */

/* Horizontal Tablet */
@media (min-width: 1024px) {
    h1 {
        font-size: 7rem;
    }

    h3 {
        font-size: 3rem;
    }

    /*Reducing font size and margin */
    button {
        font-size: 3.8rem;
        margin-bottom: 2rem;
    }

    /* Decreasing the font-size of the input */
    input {
        font-size: 2.5rem;
    }

    .menu-container {
        width: 60%;
        margin-top: 1.5%;
    }

    .button-container {
        margin-top: 9%;
    }

    #recordScore {
        font-size: 2.5rem;
    }
}

/* PC Screen */
@media (min-width: 1920px) {
    h1 {
        font-size: 15rem;
    }

    h3 {
        font-size: 7rem;
    }

    /* Increasing the font-size of the input */
    input {
        font-size: 4rem;
    }

    /*Increasing font size and margin */
    button {
        font-size: 5rem;
        margin-bottom: 2rem;
    }

    .menu-container {
        width: 70%;
        margin-top: .5%;
    }

    .button-container {
        margin-top: 4%;
    }

    #recordScore {
        font-size: 5rem;
    }
}

/* XLL Screens */
@media (min-width: 2560px) {
    h1 {
        font-size: 15rem;
    }

    h3 {
        font-size: 7rem;
    }

    /* Increasing the font-size of the input */
    input {
        font-size: 5rem;
    }

    /*Increasing font size and margin */
    button {
        font-size: 9rem;
        margin-bottom: 2rem;
    }

    .menu-container {
        width: 70%;
        margin-top: 3.5%;
    }

    .button-container {
        margin-top: 4%;
    }

    #recordScore {
        font-size: 6rem;
    }
}
