/* Name: Bogdan Gura */
body{
    font-family: ‘Actor’;
    background-color: rgb(200, 203, 202);
    background-repeat: no-repeat;
    color: black;
}
a,
a:hover{
    text-decoration: none;
    color: black;
}

/* Styling board container */
.board-container{
    margin-top: 10px;
}

/* Board Nav */
.snake-game-navigation{
    border: 5px solid black;
    margin-top: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 660px;
    display: flex;
    justify-content: space-between;
    border-bottom: none;
    background-color: white;
    font-size: 25px;
    /* Positioning the board */
    margin: 0 auto;
}

/* Board Styling */
.board{
    width: 660px;
    height: 660px;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid black;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: none;
    /* Positioning the board */
    margin: 0 auto;
}

/* Styling for divs inside the board div */
.board div{
    background-color: #00bbf0;
    border: 1px solid gray;
    width: 65px;
    height: 65px;
}

/* Game objects styling */
.apple{
    background-image: url("/Projects/SnakeGameEnchanced/Images/apple.png") !important;
    max-width: 100%;
    max-height: 100%;
}

.mine{
    background-image: url("/Projects/SnakeGameEnchanced/Images/mine.png") !important;
    max-width: 100%;
    max-height: 100%;
}

.snake{
    background-color: greenyellow !important;
}

/* Pop up modals styling */

.popup-lost,
.popup-menu{
    position: fixed;
    top: 15%;
    left: 18%;
    transform: translate(-50%, -50%);
    /* Styling */
    width: 300px;
    height: 200px;
    background-color: beige;
    border: solid 4px black;
    text-align: center;
}

.popup-lost button,
.popup-menu button{
    margin-top: 2px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    background-color: orangered;
}

#closeMenuBtn{
    background-color: red;
    color:black;
    font-weight: bold;
}

/* Achivement Display */
#achivementContainer{
    margin-left: 32.55%;
    border: 5px solid black;
    background-color: rgb(255, 255, 255);
    font-size: 30px;
    height: 50px;
    width: 660px;
}

/* Buttons styling */
#btn-up{
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 48.5%;
}

#btn-left{
    margin-left: 45.5%;
}

#btn-right{
    margin-left: 57px;
}

#btn-down{
    display: block;
    margin-left: 48.5%;
    margin-top: 5px;
}




