body {
    background-color: #36454F;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    padding: 0.7rem;
    margin: 0;
    background-color:#252f36;
    color: white;
}

h2 {
    margin: 0;
    margin-bottom: 3vh;
}

a {
    text-decoration: none;
}

a:hover {
    color: orangered;
}

/* Side bar styling */
.side-bar {
    display: inline-flex;
    flex-direction: column;
    width: 6vh;
    height: 100%;
}

#img-cut-off {
    margin-top: 920%;
}

/* File tree styling */
.file-tree-container {
    display: inline-flex;
    position: relative;
    flex-direction: column;
    width: 20vh;
    height: 99.9vh;
    background-color: #36373B;
}

.file-tree-header {
    text-align: center;
    color: white;
    padding: 2rem 1rem;
    background-color: #36373B;
    margin: 0;
}

.main-window {
    display: inline-flex;
    position: absolute;
    margin: auto;
    bottom: 40%;
    right: 30%;
    width: 60vh;
    height: 40vh;
    text-align: center;
}

.menu-tab {
    text-align: center;
    display: flex;
    row-gap: 1rem;
    flex-direction: column;
}

.main-window h1 {
    color: #D4D4D4;
    font-size: 3rem;
    padding: 0;
    margin: 0;
}

.main-window h2 {
    color: #D4D4D4;
}

.main-window a {
    color: #61AFEF;
    font-size: 2rem;
}

.main-window a:hover {
    color: orangered;
}

